body {
  font-family: 'Arial', sans-serif; 
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
}

.tooltip {
  position: absolute;
  text-align: left;
  padding: 10px;
  font-size: 12px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  pointer-events: none;     /* Mouse ignores the box, prevents flicker */
  opacity: 0;
  transition: opacity 0.1s; /* Smooth fade-in */
  z-index: 10;              /* Ensure it sits on top of the heatmap */
        }
